<html>
    <head>
    <title>D&D Character Generator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='site.css') }}">
    </head>
    <body>
        <div class = "Player general stats">
            <div class = "Class and Level">
                <input type="text"  disabled = disabled value = {{class_and_level}}></input>
                <label>CLASS & LEVEL</input>
            </div>
            <div class = "Class Background">
                <input type="text"  disabled = disabled value = {{class_background}}></input>
                <label>BACKGROUND</input>
            </div>
            <div class = "Player Name">
                <input type="text" id="Player Name"></input>
                <label>PLAYER NAME</input>
            </div>
            <div class = "Race">
                <input type="text"  disabled = disabled value = {{race}}></input>
                <label>RACE</input>
            </div>
            <div class = "Alignment">
                <input type="text" disabled = disabled value = {{alignment}}></input>
                <label>ALIGNMENT</input>
            </div>
        </div>
        <br>
            <div class = "Unique attributes">
                <div class = "Strength">
                    <input type="text" disabled = disabled value = {{strength}}></input>
                    <label>STRENGTH</input>
                </div>
                <div class = "Dexterity">
                    <input type="text"  disabled = disabled value = {{dexterity}}></input>
                    <label>DEXTERITY</input>
                </div>
                <div class = "Constitution">
                    <input type="text"  disabled = disabled valu = {{constitution}}></input>
                    <label>CONSTITUTION</input>
                </div>
                <div class = "Intelligence">
                    <input type="text"  disabled = disabled value = {{intelligence}}></input>
                    <label>INTELLIGENCE</input>
                </div>
                <div class = "Wisdom">
                    <input type="text"  disabled = disabled value = {{wisdom}}></input>
                    <label>WISDOM</input>
                </div>
                <div class = "Charisma">
                    <input type="text"  disabled = disabled value = {{charisma}}></input>
                    <label>CHARISMA</input>
                </div>
            </div>
        </br>
    <div class = "Inspiration window">
        <div class = "Inspiration">
                <input type="text"  disabled = disabled value = {{inspiration}}></input>
                <label>INSPIRATION</input>
        </div>
        <div class = "Proficency Bonus">
                <input type="text"  disabled = disabled value = {{proficency_bonus}}></input>
                <label>PROFICENCY_BONUS</input>
            </div>
    </div>
    <br>
        <div class = "Saving throws">
                <div>
                    <input type="text"  disabled = disabled value = {{strength}}></input>
                    <label>STRENGTH</input>
                </div>
                <div>
                    <input type="text"  disabled = disabled value = {{dexterity}}></input>
                    <label>DEXTERITY</input>
                </div>
                <div>
                    <input type="text"  disabled = disabled value = {{constitution}}></input>
                    <label>CONSTITUTION</input>
                </div>
                <div>
                    <input type="text"  disabled = disabled value = {{intelligence}}></input>
                    <label>INTELLIGENCE</input>
                </div>
                <div>
                    <input type="text"  disabled = disabled value = {{wisdom}}></input>
                    <label>WISDOM</input>
                </div>
                <div>
                    <input type="text"  disabled = disabled value = {{charisma}}></input>
                    <label>CHARISMA</input>
                </div>
                <label>SAVING THROWS</input>
        </div>
    </br>
        <div class = "Armor Class">
            <div class = "Armor Class">
                <input type="text"  disabled = disabled value = {{armor_class}}></input>
                <label>STRENGTH</input>
            </div>
            <div class = "Initiative Armor">
                <input type="text"  disabled = disabled value = {{initiative}}></input>
                <label>INITIATIVE</input>
            </div>
            <div class = "Speed">
                <input type="text"  disabled = disabled value = {{speed}}></input>
                <label>SPEED</input>
            </div>
        </div>
    </body>
</html>