<html>
    <head>
    <title>D&D Character Generator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='site.css') }}">
    </head>
    <body>
        <div class = "Player general stats" style = "position: relative">
            <div class = "Class and Level" style = "position: absolute; left: 300px">
                <input type="text"  disabled = disabled value = {{class_and_level}}></input>
                <label style = "position: absolute; top: 30px; left: 0px">CLASS & LEVEL</input>
            </div>
            <div class = "Class Background" style = "position: absolute; left: 500px;">
                <input type="text"  disabled = disabled value = {{class_background}}></input>
                <label style ="position: absolute; top: 30px; left: 0px">BACKGROUND</input>
            </div>
            <div class = "Player Name" style = "position: absolute; left: 700px">
                <input type="text" id="Player Name"></input>
                <label style = "position: absolute; top: 30px; left: 0px">PLAYER NAME</input>
            </div>
            <div class = "Race" style = "position: absolute; left: 300px; top: 50px">
                <input type="text"  disabled = disabled value = {{race}}></input>
                <label style = "position: absolute; top: 30px; left: 0px">RACE</input>
            </div>
            <div class = "Alignment" style = "position: absolute; left: 500px; top: 50px">
                <input type="text" disabled = disabled value = {{alignment}}></input>
                <label style = "position: absolute; top: 30px; left: 0px">ALIGNMENT</input>
            </div>
            <div class = "Experience Points" style = "position: absolute; left: 700px; top: 50px">
                <input type="text" disabled = disabled value = {{experience_points}}></input>
                <label style = "position: absolute; top: 30px; left: 0px">EXPERIENCE POINTS</input>
            </div>
        </div>
        <br>
            <div class = "Unique attributes">
                <div class = "Strength">
                    <label>STRENGTH</input>
                    <input type="text" disabled = disabled value = {{strength}} style = "position: absolute; top: 40px; left: 0px">
                    </input>
                </div>
                <div class = "Dexterity">
                    <label style = "position: absolute; top: 60px; left: 5px">DEXTERITY</input>
                    <input type="text"  disabled = disabled value = {{dexterity}} style = "position: absolute; top: 15px; left: 0px">
                    </input>
                </div>
                <div class = "Constitution">
                    <label style = "position: absolute; top: 100px; left: 5px">CONSTITUTION</input>
                    <input type="text"  disabled = disabled value = {{constitution}} style = "position: absolute; top: 15px; left: 0px"></input>
                </div>
                <div class = "Intelligence">
                    <label style = "position: absolute; top: 140px; left: 5px">INTELLIGENCE</input>
                    <input type="text"  disabled = disabled value = {{intelligence}} style = "position: absolute; top: 15px; left: 0px"></input>
                </div>
                <div class = "Wisdom">
                    <label style = "position: absolute; top: 180px; left: 5px">WISDOM</input>
                    <input type="text"  disabled = disabled value = {{wisdom}} style = "position: absolute; top: 15px; left: 0px"></input>
                </div>
                <div class = "Charisma">
                    <label style = "position: absolute; top: 220px; left: 5px">CHARISMA</input>
                    <input type="text"  disabled = disabled value = {{charisma}} style = "position: absolute; top: 15px; left: 0px"></input>
                </div>
            </div>
        </br>
    <div class = "Inspiration window">
        <div class = "Inspiration">
                <label style = "position: absolute; top: 140px; left: 190px">INSPIRATION</input>
                <input type="text"  disabled = disabled value = {{inspiration}} style = "position: absolute; top: 20px; left: 0px"></input>
        </div>
        <div class = "Proficency Bonus" style = "position: absolute; top: 180px; left: 190px">
                <label>PROFICENCY_BONUS</input>
                <input type="text"  disabled = disabled value = {{proficency_bonus}} style = "position: absolute; top: 20px; left: 0px"></input>
            </div>
    </div>
        <div class = "Saving throws">
                <div>
                    <label style = "position: absolute; top: 260px; left: 190px">STRENGTH</input>
                    <input type="text"  disabled = disabled value = {{strength}} style = "position: absolute; top: 20px; left: 0px"></input>
                </div>
                <div>
                    <label style = "position: absolute; top: 300px; left: 190px">DEXTERITY</input>
                    <input type="text"  disabled = disabled value = {{dexterity}} style = "position: absolute; top: 20px; left: 0px"></input>
                
                </div>
                <div>
                    <label style = "position: absolute; top: 340px; left: 190px">CONSTITUTION</input>
                    <input type="text"  disabled = disabled value = {{constitution}} style = "position: absolute; top: 20px; left: 0px"></input>
                
                </div>
                <div>
                    <label style = "position: absolute; top: 380px; left: 190px">INTELLIGENCE</input>
                    <input type="text"  disabled = disabled value = {{intelligence}} style = "position: absolute; top: 20px; left: 0px"></input>
                    
                </div>
                <div>
                    <label style = "position: absolute; top: 420px; left: 190px">WISDOM</input>
                    <input type="text"  disabled = disabled value = {{wisdom}} style = "position: absolute; top: 20px; left: 0px"></input>
                    
                </div>
                <div>
                    <label style = "position: absolute; top: 460px; left: 190px">CHARISMA</input>
                    <input type="text"  disabled = disabled value = {{charisma}} style = "position: absolute; top: 20px; left: 0px"></input>
                </div>
                <label style = "position: absolute; top: 500; left: 190px">SAVING THROWS</input>
        </div>
    </br>
        <div class = "Armor Class">
            <div class = "Armor Class">
                <label style = "position: absolute; top: 140px; left: 400px">STRENGTH</input>
                <input type="text"  disabled = disabled value = {{strength_armor}} style = "position: absolute; top: 20px; left: 0px"></input>
            </div>
            <div class = "Initiative Armor">
                <label style = "position: absolute; top: 140px; left: 600px">INITIATIVE</input>
                <input type="text"  disabled = disabled value = {{initiative}} style = "position: absolute; top: 20px; left: 0px"></input>
            </div>
            <div class = "Speed">
                <label style = "position: absolute; top: 140px; left: 800px">SPEED</input>
                <input type="text"  disabled = disabled value = {{speed}} style = "position: absolute; top: 20px; left: 0px"></input>
            </div>
        </div>
    </body>
</html>